.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
}
.freeBox__vAwMy {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  padding-right: 0px;
  padding-left: 0px;
  height: 168px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  left: 65px;
  top: -6px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__vAwMy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vAwMy > :global(.__wab_flex-container) > *,
.freeBox__vAwMy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vAwMy > :global(.__wab_flex-container) > picture > img,
.freeBox__vAwMy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vAwMy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vAwMy > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vAwMy > :global(.__wab_flex-container) > *,
  .freeBox__vAwMy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vAwMy > :global(.__wab_flex-container) > picture > img,
  .freeBox__vAwMy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img {
  object-fit: cover;
  width: 300px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  height: auto;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.dropdown__b3MSh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 150px;
  top: 120px;
}
.menuItem__dnVk5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__t7Sgs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem___4HQ3I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tfAsV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__v7K8Q:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__a7HTs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dropdown__en0W:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  align-self: flex-end;
  left: -10px;
  top: 120px;
}
.menuItem___109Gx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hdUi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem___27HUv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___2Ik8Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__whEuj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dIdqr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dropdown__cSwX1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 311px;
  top: 120px;
}
.menuItem__ok7Zo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fwiGe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__tPfB0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___2Tlkq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__gnswD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pHkcy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dropdown___0HzMo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 1000px;
  top: 120px;
}
.menuItem__rkbP2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nrAAp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__t9Ewy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___3Tgdi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__as2Q8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__k0Xfc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__tdfPy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 806px;
  top: 120px;
}
.text__uxClD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yo53V {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yo53V > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__yo53V > :global(.__wab_flex-container) > *,
.freeBox__yo53V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yo53V > :global(.__wab_flex-container) > picture > img,
.freeBox__yo53V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yo53V > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yo53V > :global(.__wab_flex-container) > *,
  .freeBox__yo53V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yo53V > :global(.__wab_flex-container) > picture > img,
  .freeBox__yo53V
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2__lxewr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__s5Qm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__w949F {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ma4I0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__smOw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__mtli2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___9Jfwp {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___5QPmb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___6DuVd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__zICl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___8FYN {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__nsgq4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.dropdown___5FJmT:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 893px;
  top: 120px;
}
.menuItem___8TKfw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zJs9A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__mpXo0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___4T49 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__wX9SB:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tbpPv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xzrRa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__bJfG {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2__u8ApE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__ackDt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ybGe4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__h16Kj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.dropdown__wYbp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 410px;
  top: 120px;
}
.menuItem__jpU3X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__b9Un9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__zJnrd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ckm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___79Lqn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__r5TAs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dropdown__ev1RQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 570px;
  top: 120px;
}
.menuItem__mgt5Y:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jfR2T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__gSd8M:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__axTxl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__jfFmY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ljlmt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__plk50 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0px 16px 0px 1182px;
}
.freeBox__plk50 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__plk50 > :global(.__wab_flex-container) > *,
.freeBox__plk50 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__plk50 > :global(.__wab_flex-container) > picture > img,
.freeBox__plk50
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__plk50 {
    padding: 32px;
  }
}
