.root {
  display: flex;
  max-width: 1333px;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  position: relative;
  padding-bottom: 0px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 64px;
}
.root {
  --plsmc-rc-col-gap: 0px;
}
.root > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.root > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.root > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.root > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cj0Mg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cj0Mg {
    width: 100%;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 92px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__j5Rj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__j5Rj {
    width: 100%;
  }
}
.freeBox__mwb65 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  padding-bottom: 4px;
  min-width: 0;
}
.freeBox__mwb65 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mwb65 > :global(.__wab_flex-container) > *,
.freeBox__mwb65 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mwb65 > :global(.__wab_flex-container) > picture > img,
.freeBox__mwb65
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__nb0Ff {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button2__rJlH:global(.__wab_instance) {
  position: relative;
}
.svg___1CftF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___8Drlh {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__plPTq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__jtUx:global(.__wab_instance) {
  position: relative;
}
.svg__bzSke {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mlXgY {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-right: 0px;
}
.svg__ya86H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__vWbi7:global(.__wab_instance) {
  position: relative;
}
.svg__yQsY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zR9Qc {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__otg1M {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__nhCb5:global(.__wab_instance) {
  position: relative;
}
.svg__ixJtS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tacJi {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__pujZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___2Jyxc:global(.__wab_instance) {
  position: relative;
}
.svg__lXn3R {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rejs2 {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__wyuQm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__lukKd:global(.__wab_instance) {
  position: relative;
}
.svg___8ODtm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__g8Ypq {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___0YtvZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__xdHDa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xdHDa {
    width: 100%;
  }
}
.freeBox__cot1J {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__cot1J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cot1J > :global(.__wab_flex-container) > *,
.freeBox__cot1J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cot1J > :global(.__wab_flex-container) > picture > img,
.freeBox__cot1J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__cHWwu {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__sXMp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-GEppKCdlxgWK);
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.text__uXnj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-GEppKCdlxgWK);
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.text___6BfXw {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-GEppKCdlxgWK);
  font-family: "Inter", sans-serif;
  left: 0px;
  top: 158px;
  min-width: 0;
}
.column__c0K6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__c0K6 {
    width: 100%;
  }
}
.freeBox___47Oj {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___47Oj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___47Oj > :global(.__wab_flex-container) > *,
.freeBox___47Oj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___47Oj > :global(.__wab_flex-container) > picture > img,
.freeBox___47Oj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___9Slge {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___7Swol {
  position: absolute;
  left: 0px;
  top: 110px;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__wsPjb {
  position: relative;
  color: var(--token-GEppKCdlxgWK);
}
.button2__vBg3K:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 153px;
}
.svg__i4EQo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__aaunw {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-right: 0px;
}
.svg___9ZcM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___3AhmX:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 183px;
}
.svg___6JoLk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___0SnWl {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-right: 0px;
}
.svg__oIk5S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__kvKya:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 213px;
}
.svg__sYAu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qVbR1 {
  height: auto;
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  padding-right: 0px;
}
.svg__lgC26 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
